.largercard1{
    grid-area: "large1";
}
.regular{
    grid-area: "regular";
}
.trending{
    grid-area: "trending";
}
@media only screen and (max-width:1000px){
    .grid1{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "large1"
        "regular regular"
        "trending"
        ;
    }
}